*{
    margin: 0;
    padding: 0;
    border: 0;
}

.burger i{
    color: green;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
    font-size: 40px;
    position: fixed;
    z-index: 1;
    opacity: 1;
    width: 100vw;
}
.cross i{
    color: green;
    padding-left: 160px;
    padding-top: 20px;
    cursor: pointer;
    font-size: 40px;
    position: relative;
}

.navbar{
    left: -600px;
    position: fixed;
    transition: all 0.5s;
}

.change{
    left: 0;
}

nav{
    background-color: green;
    height: 300px;
    width: 150px;
    border-radius: 0 25px 25px 0;
    position: fixed;
    top: 70px;
}

ul{
    position: absolute;
    top: 60px;
}

li{
    color: white;
    letter-spacing: 2px;
    padding: 15px;
    margin-left: 10px;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
}

li:hover{
    background-color: rgb(54, 133, 54);
}


.contenedor{
    height: 800px;
    text-align: center;
}

.boton{
    transform: translate(-50%,200%);
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius: 25px;
    color: black;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    border: 1px solid green;
    transition: all .5s;
}

.boton:hover{
    letter-spacing: 3px;
    background-color: green;
    color: white;
}
