*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Borrar */
h1{
    color: white;
}


body{
    background-color: black;
}

.burger i{
    color: green;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
    font-size: 40px;
}

nav{
    background-color: green;
    height: 300px;
    width: 150px;
    border-radius: 0 0 25px 0;
    visibility: hidden;
}

ul{
    position: absolute;
    top: 60px;
}

li{
    color: white;
    letter-spacing: 2px;
    padding: 15px;
    margin-left: 10px;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
}

li:hover{
    background-color: rgb(54, 133, 54);
}


.contenedor{
    height: 300px;
    text-align: center;
}

.boton{
    transform: translate(-50%,200%);
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    border: 1px solid green;
    transition: all .5s;
}

.boton:hover{
    letter-spacing: 3px;
    background-color: green;
}
